extends layout

block content
    div.container
        div.adminConsole
            if users
                each user in users
                    p = user.name


    script(src='/primus/primus.js')
    script (src='javascripts/startdemo.js')
