extends layout

block content
    div.container
        div.adminLogin
            h1 Sign in as admin
            p This is the teacherzone! As a teacher, you can start a new Demo Or Die session.
        div.adminForm
            form.admin-login(method='#')
                div.form-input
                    label(for='name') Name
                    input(name='name', type='text', autofocus='', placeholder='Your name here...')
                div.form-input
                    label(for='password') Password
                    input(name='password', type='password', placeholder='And the right password over here.')

                button#loginbtn(type='submit') Log in
                a#goback(href='/login') Go back