extends layout

block content
    div.container
        div.adminInfo
            p #{user.name}

            div.adminPhoto

                img(src= user.picture)

            div.adminLogin
                h1 Fill in the password to get access to the adminconsole.
                form(method="post" action="")
                    input(type="text" name="check" value="" id="check-input" placeholder="Fill in your password")
                    a#btnAdminPw(href='/vote') Send

    script(src='/primus/primus.js')
    script(src='/javascripts/teacherCheck.js')