extends layout

block content
    div.container
        div.adminInfo
            p #{user.name}

            div.profileInfo

                img(src= user.picture)

            div.adminLogin
                h1 Fill in the password to get access to the adminconsole.
                form(method="post" action="")
                    input(type="text" name="check" value="" placeholder="Fill in your password")
                    button#btn-check Send
