extends layout

block content
    div.container
        if (!user)
            h1 Demo or Die
            div
                a#startBtn(href="/login") Get started
        else
            div.pickGroups
                h1 Pick your groups
                div.allGroups
                    form(method="POST" action="")
                        label PHP
                        input(type='checkbox' value='php' name='php')
                        label WEBTECH
                        input(type='checkbox' value='webtech' name='webtech')
                        label PROJECT
                        input(type='checkbox' value='project' name='project')
                        button.login-btn(type='submit') Save

            div.linksProfile
                a.linkProfile(href="/profile") Go!