extends layout

block content
    div.container
        if (!user)
            h1 Demo or Die
            div
                a#startBtn(href="/login") Get started
        else
            p#welcomeProfile Hello, #{user.name} !
            
            div#linksProfile
            a#linkProfile(href="/profile") Go to profile
            a#linkTryAgain(href="/login") That's not me!