extends layout

block content
    div.container
        if (!user)
            h1 KV APP log in
            div
                a.login-btn(href="/login") sign in
        else
            p Hello, #{user.name}. View your
                a(href="/profile") profile