extends layout

block content
    div.container
        if (!user)
            h1 Demo or Die
            div
                a#startBtn(href="/login") Get started
        else
            p#welcomeProfile Hello, #{user.displayName} !
            p#linkProfile Go to
            a#linkProfile(href="/profile") profile