extends layout

block content
    div.container
        if (!user)
            h1 Demo or Die
            div
                a#startBtn(href="/login") Get started
        else
            p#welcomeProfile Hello, #{user.name} !
            img#welcomeProfileImage(src= user.picture)
            div.linksProfile
                a.linkProfile(id="student" href="/chooseGroups" value="student") I'm a student
                a.linkProfile(id="teacher" href="/adminView" value="teacher") I'm a teacher
                a#linkTryAgain(href="/login") That's not me!



    script(src='/primus/primus.js')