extends layout

block content
    div.container
        if (!user)
            h1 Demo or Die
            div
                a#startBtn(href="/login") Get started
        else
            p Hello, #{user.name}. View your
                a(href="/profile") profile