extends layout

block content
    div.container
        div.head
            h1= title

        div.loginBtns
            a#fblogin(href="/login/facebook") Log in with Facebook
            |    or
            a#adminlogin(href="/adminlogin") Sign in as Admin
            a#goback(href='/') Go back