extends layout

block content
    div.container
        div.head
            h1= title

        div.loginBtns
            a#fblogin(href="/login/facebook") Log in with Facebook
            a#goback(href='/') Go back

            script(src='/primus/primus.js')