extends layout

block content
    div.container
        div.profileInfo
            p #{user.name}
            div.voteResults
                div#demoResult
                    p 50%

                img(src= user.picture)

                div#dieResult
                    p 50%

        div.profileInfo2
            div.groupInfo
                h1 In groups
                p  Hier komen namen van groepen

            div.demoInfo
                h1 Last time on stage
                p  Hier komt tijd dat het geleden

        div.allInfo
            p " Wow, you're at ... demo and only ... die. You can bring up your ranking to ... demo if you nail the next one! "


        div.linksProfile
            a.linkProfile(href="/vote") Let's vote!