extends layout

block content
    div.container
        div.profileInfo
            p #{user.name}
            img(src= user.picture)

        div.groupInfo
            h1 In groups
            p ADD GROUPS

        div.demoInfo
            h1 Last time on stage
            p

        div.allInfo
            p Wow, you're at ... demo and only ... die. You can bring up your ranking to 85% demo if you nail the next one!