extends layout

block content
    div.container
        div.profileInfo
            p #{user.name}
            div.voteResults
                div#demoResult
                    p#votingDemo

                img(src= user.picture)

                div#dieResult
                    p#votingDie

        div.profileInfo2
            div.groupInfo
                h1 In groups
                if (vakken.php == true)
                    p.btn-vak PHP
                else
                    p.btn-vak.hide PHP
                if (vakken.project == true)
                    p.btn-vak Project
                else
                    p.btn-vak.hide Project
                if (vakken.webtech == true)
                    p.btn-vak Webtechnologie
                else
                    p.btn-vak.hide Webtechnologie

            div.demoInfo
                h1 Last time on stage
                p  Hier komt tijd dat het geleden

        div.allInfo
            p " Wow, you're at ... demo and only ... die. You can bring up your ranking to ... demo if you nail the next one! "


        div.linksProfile
            a.linkProfile(href="/vote") Let's vote!

    script(src='/primus/primus.js')
    script(src='javascripts/vote.js')
