extends layout

block content
    div.container
            div.profileInfo
                p 3 ... 2 ... 1 ... Vote!

                div.voteResults
                    div#demoResult
                        p#votingDemo

                    img(src= user.picture)

                    div#dieResult
                        p#votingDie


            div.nameCandidate
                p  Vote for #{user.name} !

                div.voteButtons
                    button#demo  Demo
                    p or
                    button#die   Die


    script(src='/primus/primus.js')
    script(src='javascripts/vote.js')
